<input id="player_connected" type="hidden" value="<%= @player.id %>" />
<div class="map" id="map">
  <div id="field_container"></div>
  <div id="player_container"></div>
</div>
<audio class="bgsound" preload  loop controls >
  <source src="http://www.rdla.fr/flute_paradize.ogg" type="audio/ogg" />
  <source src="http://www.rdla.fr/flute_paradize.mp3" type="audio/mpeg" />
</audio>

<div class="console" id="console"><img src="/assets/close.png" id="close_chat" class="close_windows" alt="Fermer la console" />
<div id="chat" class="chat"></div>
<p class="command_bar"><input type="text" id="command" placeholder="Ecrire votre commande ici" class="command"  /></p>
</div>
<img id="open_console" src="/assets/console.png" />

