<h1 class="home_logo">
  <%= image_tag "/assets/logo.png", :id => "home_logo" %>
</h1>

<div class="home_login">
  <p>Etat du server: <span id="state_server" class="state_server_off">OFF</span></p>
  Se connecter via: <br/>
  <%= link_to image_tag("facebook.png",:alt=>" Connectez vous avec Facebook"), "/auth/facebook" %>
</div>
