<h1 class="home_logo">
  <%= image_tag "/assets/logo.png", :id => "home_logo" %>
</h1>

<div class="home_login">
  <p><%= t 'home.state_server'  %>: <span id="state_server" class="state_server_off">OFF</span></p>
  <%= t 'home.log_in_with' %>: <br/>
  <%= link_to image_tag("facebook.png",:alt=>"#{t('home.connect_with_facebook')}"), "/auth/facebook" %>
</div>
