.rabbit
{
	background:url("/assets/sprites/rabbit.png") no-repeat;
	width:72px;
	height:72px;
	z-index:1
}
.rabbit_right
{
	background-position:0 0;
}
.rabbit_left
{
	background-position:-72px 0;
}
.rabbit_up
{
	background-position:-144px 0;
}
.rabbit_down
{
	background-position:-216px 0;
}
